<div class="content">

  <h2 class="titulo">Pedido Finalizado</h2>

  <div class="boxInfo">
    <p class="txtNumPedido">N° pedido: <span class="numeroPedido">{{ listaPedido.numero }}</span></p>
    <p class="infoCliente">Nome: <span class="info">{{ listaPedido.nome }}</span></p>
    <p class="infoCliente">Email: <span class="info">{{ listaPedido.email }}</span></p>
    <p class="infoCliente">Telefone: <span class="info">{{ listaPedido.telefone }}</span></p>
  </div>

  <div class="divTable">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Valor</th>
          <th scope="col" style="text-align: center;">Qtde</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let produto of listaPedido.produtos; let i = index;">
          <td style="width: 60%;">{{ produto.nome }}</td>
          <td style="width: 15%;">{{ formataValor(produto.preco_qtd) }}</td>
          <td style="width: 10%; text-align: center;">{{ produto.qtd }}</td>
        </tr>
        <tr>
          <td class="tdTotal">Total</td>
          <td class="tdTotal" colspan="3">{{ formataValor(listaPedido.valorTotal) }}</td>
        </tr>

      </tbody>

    </table>

  </div>

  <div id="divBtn">
    <button class="btn" id="botao" (click)="paginacao()">Voltar</button>
  </div>

</div>
